.mdl-layout__header-row .mdl-navigation__link {
    font-size: 2rem;
}

.mdl-layout-title {
    font-size: 2rem;
}

.home {
    // display: inline;
    min-height: 80vh;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    margin-top: auto;
}
